<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group8.com.application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.MainView"
            android:label="@string/app_name"></activity>

        <activity
            android:name=".UI.ResultsView"
            android:label="@string/points_grapher"></activity>

        <activity

            android:name=".UI.RankingView"
            android:label="@string/ranking"></activity>

        <activity
            android:name=".UI.Graphs.SpeedGraph"
            android:label="Speed Graph"></activity>

        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:label="Bar Chart"></activity>

        <activity
            android:name=".UI.BarChart"
            android:label="BarChart"></activity>

        <activity
            android:name=".UI.Graphs.FuelConsumptionGraph"
            android:label="Fuel Consumption"></activity>

        <activity
            android:name=".UI.Graphs.DriverDistractionGraph"
            android:label="Driver Distraction"></activity>

        <activity
            android:name=".UI.Login.LoginView"
            android:label="Welcome">

        </activity>

        <activity
            android:name=".UI.Login.RegisterView"
            android:label="@string/register"></activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" ></activity>

        <activity
            android:name=".UI.TestGrading"
            android:label="Test"></activity>

        <activity
            android:name=".UI.DrivingView.DrivingView"
            android:label="@string/app_name"></activity>



        <activity android:name=".alert.BrakesActivity" />
        <activity android:name=".alert.DistractionActivity" />
        <activity android:name=".alert.FuelActivity" />
        <activity android:name=".alert.SpeedActivity" />
        <activity android:name=".UI.ChartActivity" />



        <activity android:name=".UI.mainView.menuView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

    </application>

</manifest>
