<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group8.com.application" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Measure"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GraphPoints"
            android:label="@string/points_grapher">
        </activity>

        <activity
            android:name=".SpeedGraph"
            android:label="Speed Graph">
        </activity>

        <activity
            android:name=".BreakGraph"
            android:label="Break Graph">
        </activity>

        <activity
        android:name=".FuelConsumptionGraph"
        android:label="Fuel Consumption">
        </activity>

        <activity
            android:name=".DriverDistractionGraph"
            android:label="Driver Distraction">
        </activity>

    </application>

</manifest>
